Token Binding (tokbind) support

Token Binding, amongst other great features, allows applications to issue security tokens, such as HTTP cookies and OAuth Tokens, and have them cryptographically bound to the TLS layer. Already somewhat supported by Edge, IE, and Chrome (flag chrome://flags/#enable-token-binding).

This is 100% a feature request, since caddy is a very fast-moving webserver, focused on security defaults I figured this would be on your radar already.

[Token Binding (tokbind)](https://datatracker.ietf.org/wg/tokbind/documents/) is coming along nicely and would be a great addition, especially HTTPS Token Binding with TLS Terminating Reverse Proxies.

More resources: 
- [Token Binding Presentation by Mike Jones at EIC 2017](http://self-issued.info/?p=1678)
- [Online Token Binding Demo](https://www.ietf.org/mail-archive/web/unbearable/current/msg01332.html)

@panva Thank you for the feature request.

Yes, great suggestion. Given that the spec is still in motion, this would make a better plugin for now. Maybe it will be found useful enough to be a part of core, but I think the utility of it remains to be seen. So I will close and mark as deferred so we will revisit it later. Anyone is welcome to write a plugin that implements this, of course!

The IETF specifications related to this feature were published this month as RFC 8471, RFC 8472, and RFC 8473, signalling consensus in the standards community for how to approach the problem of bearer tokens at this layer.