HTTP Trace – A security issue?

Hi all,

today I learned about the possibility to use the HTTP Trace method, to get the value of http-only cookies via XSS. HTTP Trace as in the request method like Get and Post and not the Golang package [`net/http/httptrace`](https://blog.golang.org/http-tracing). Other methods like HTTP Options could also be exploitable.

Restricting the possible HTTP methods in the Caddyfile sounds like an easy solution to me. Apache and Nginx also offer this.

Here is an example of the attack: https://www.owasp.org/index.php/Cross_Site_Tracing

Caddy doesn't implement TRACE so I think we're good here, there's no "echo" functionality to disable. If you come back and demonstrate an actual attack then you'll have my attention -- but I just tried this a few different ways (to verify that the Go standard library wasn't doing it either) and I could not get the server to echo back my request as the response.

Thanks for your insight on this Matt!  I got dinged for this by an internal scan tool at my work, so I'm happy to hear that Caddy doesn't implement `TRACE` and is not vulnerable.  I found out that the scan tool is checking for an explicit `405 Method Not Allowed` response when given a `TRACE` request, but Caddy is returning a `200 OK`.  Would you be open to changing Caddy to behave like other websevers in this regard?

* **Apache HTTPD**
```
$ http --print Hh trace https://httpd.apache.org
TRACE / HTTP/1.1
Accept: */*
Accept-Encoding: gzip, deflate
Connection: keep-alive
Content-Length: 0
Host: httpd.apache.org
User-Agent: HTTPie/0.9.4

HTTP/1.1 405 Method Not Allowed
Allow: 
Connection: Keep-Alive
Content-Length: 223
Content-Type: text/html; charset=iso-8859-1
Date: Mon, 28 Jan 2019 23:37:52 GMT
Keep-Alive: timeout=30, max=100
Server: Apache/2.4.18 (Ubuntu)
```
* **Nginx**
```
$ http --print Hh trace https://nginx.org
TRACE / HTTP/1.1
Accept: */*
Accept-Encoding: gzip, deflate
Connection: keep-alive
Content-Length: 0
Host: nginx.org
User-Agent: HTTPie/0.9.4

HTTP/1.1 405 Not Allowed
Connection: close
Content-Length: 157
Content-Type: text/html; charset=utf-8
Date: Mon, 28 Jan 2019 23:38:07 GMT
Server: nginx/1.15.7
```
* **Caddy**
```
$ http --print Hh trace https://caddyserver.com
TRACE / HTTP/1.1
Accept: */*
Accept-Encoding: gzip, deflate
Connection: keep-alive
Content-Length: 0
Host: caddyserver.com
User-Agent: HTTPie/0.9.4

HTTP/1.1 200 OK
Accept-Ranges: bytes
Content-Encoding: gzip
Content-Security-Policy: style-src   'self' 'unsafe-inline' https://fonts.googleapis.com; 		                          script-src  'self' data: https://www.google-analytics.com https://checkout.stripe.com; 		                          img-src     'self' data: https:; 		                          font-src    'self' data: https: blob:; 		                          media-src   'self' https:; 		                          connect-src 'self' https:; 		                          object-src  'none';
Content-Type: text/html; charset=utf-8
Date: Mon, 28 Jan 2019 23:38:14 GMT
Etag: W/"pl1jgf65k"
Last-Modified: Wed, 09 Jan 2019 01:43:27 GMT
Referrer-Policy: no-referrer-when-downgrade
Server: Caddy
Strict-Transport-Security: max-age=31536000
Transfer-Encoding: chunked
Vary: Accept-Encoding
X-Content-Type-Options: nosniff
X-Frame-Options: SAMEORIGIN
X-Xss-Protection: 1; mode=block
```

Caddy also returns a `200 OK` if I give it a totally bogus request method, so it appears that it is treating unknown verbs as `GET`s.

Yeah I guess we can do that. Are TRACE requests just bad across the board, i.e. hard-code a 405 against TRACE? Or is this something better suited for configuration by an existing directive (https://caddyserver.com/docs/status)?

My understanding is that `TRACE` is primarily a debugging method used to loop back the request as the response.  I don't know how widely used this method is.  My opinion is that since Caddy is responding `200` to a `TRACE` request but isn't looping back the request body, it is technically in violation of [RFC 7231 section 4.3.8](https://tools.ietf.org/html/rfc7231#section-4.3.8).

I don't think a hard-coded `405` against `TRACE` is best way to handle this.  Rather Caddy should respond with a `405` for _any_ unimplemented methods.  Currently it seems that it treats unimplemented methods as `GET`s.

```
$ http --print Hh examplefakemethod https://caddyserver.com
EXAMPLEFAKEMETHOD / HTTP/1.1
Accept: */*
Accept-Encoding: gzip, deflate
Connection: keep-alive
Content-Length: 0
Host: caddyserver.com
User-Agent: HTTPie/0.9.4

HTTP/1.1 200 OK
Accept-Ranges: bytes
Content-Encoding: gzip
Content-Security-Policy: style-src   'self' 'unsafe-inline' https://fonts.googleapis.com; 		                          script-src  'self' data: https://www.google-analytics.com https://checkout.stripe.com; 		                          img-src     'self' data: https:; 		                          font-src    'self' data: https: blob:; 		                          media-src   'self' https:; 		                          connect-src 'self' https:; 		                          object-src  'none';
Content-Type: text/html; charset=utf-8
Date: Tue, 29 Jan 2019 15:51:16 GMT
Etag: W/"pl1jgf65k"
Last-Modified: Wed, 09 Jan 2019 01:43:27 GMT
Referrer-Policy: no-referrer-when-downgrade
Server: Caddy
Strict-Transport-Security: max-age=31536000
Transfer-Encoding: chunked
Vary: Accept-Encoding
X-Content-Type-Options: nosniff
X-Frame-Options: SAMEORIGIN
X-Xss-Protection: 1; mode=block
```

I don't think we can _assume_ which methods are implemented or not, especially if the `proxy` directive (or similar, like fastcgi) is used.

@mholt which directive is handling it though? Does it just reach the end of the middleware loop then just serve it as a GET? If so, can't we just add a filter at the end to return 405 for anything unknown?

@francislavoie It depends. Some directives respond to requests, others don't. Those which do _probably should_ be aware of the method (i.e. the static file server middleware could, in theory, reject anything except GET requests, but the proxy directive should probably allow any method) but in practice it doesn't matter too much unless you're coding against method semantics, like an API or something.